//首页banner渐变色
.site-brand-container {
    background: linear-gradient(200deg, #BCF9FC, #C87EEB);
    border-radius: 15px 15px 0px 0px;;
}

//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  margin-top: 15px;
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}